@use "variables";

.collection__container {
    max-width: 90%;
  padding: 10px;
  margin: 50px auto;

  h1 {
    font-family: variables.$font-primary;
    font-size: 28px;
    font-weight: 800;
    text-transform: uppercase;
  }

  .row{
      font-family: variables.$font-secondary;

      .stock__contain{
          display: grid;
            grid-template-columns: 1fr 1fr;

             .stock-para{
          font-weight: 800;
      }

      .left {
          display: flex;
          align-items: center;

          span{ 
              font-weight: 400;
              font-size: 14px;
              color: #363639;
          }

          div{
          margin-left: 15px;

          

          }
      }

      .right{
          span{
                font-weight: 700;
                font-size: 1px;
                color: #3A3A3A;
          }

      }
      }
     
  }
}
