
@use 'header.scss'

@import url("https://fonts.googleapis.com/css2?family=Candal&family=DM+Sans&display=swap");

$font-priamry :  'Candal', sans-serif;
$font-secondary: 'DM Sans', sans-serif;
$seondary-color: #3D00B7;
$heading-color: #000000;

body {
  background-color: #fff;
}


