@use "variables";

.header__container {
  display: flex;
  padding-top: 20px;
  align-items: center;
  justify-content: space-around;
  border-bottom: 2px solid variables.$secondary-color;
  width: 100%;



  .link__list {
    font-family: variables.$font-secondary;
    color: variables.$heading-color;
    display: flex;
    font-size: 16px;
    list-style-type: none;
    justify-content: space-around;
    font-weight: 600;

    li {
      margin-left: 60px;
      cursor: pointer;
    }
  }


  .
}
