@use "variables";

.header__container {
    border-bottom: 1px solid #757575;

}
.header__content {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 90%;
  margin: 0 auto;

  .link__list {
    font-family: variables.$font-secondary;
    color: variables.$heading-color;
    display: flex;
    font-size: 16px;
    list-style-type: none;
    justify-content: space-around;
    font-weight: 600;

    li {
      margin-left: 60px;
      cursor: pointer;
    }
  }

  .input__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 50px;
    border: 2px solid #efefef;
    padding: 10px;
    input {
      border: none;
      padding: 5px;
      outline: none;
      font-weight: 700;

      &::placeholder {
        color: #c0c0c0;
      }
    }
  }
  .left__items {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 10px;
  }

  .buttons__header {
    display: grid;
    gap: 10px;

    grid-template-columns: repeat(2, 1fr);

    .upload__button {
      display: flex;
      align-items: center;
      justify-content: space-around;
      cursor: pointer;
      border-radius: 50px;
      border: none;
      color: #fff;
      font-weight: 600;
      padding: 15px 20px;
      background-color: variables.$secondary-color;
      box-shadow: 10px 2px 66px -12px rgba(66, 56, 56, 0.74);
    }
    .connect__button {
      border: 2px solid #3d00b7;
      background-color: #fff;
      color: variables.$secondary-color;
      border-radius: 50px;
      padding: 15px 20px;

      cursor: pointer;
    }
  }
}

// responsive for mobile
@media screen and (max-width: 768px) {
  .header__content {
   

    .link__list{
        display: none;
    }

    
  input__container {
    display: none;
    }
    
  
  }
}