---
import collectionone from '../../public/assets/collectionone.png'
import profileimage from '../../public/assets/profile.png'
---

<section class="collection__container">

<div class="row">


<div class="col">

<img src={collectionone} alt="collectionone" class="collection__image">




<div class="stock__contain">

<div class="left">
<p class="stock-para">
The Futr Abstr

</p>

<span>
10 in the stock</span>
<img src={profileimage} alt="profileimage" class="collection__image">
</div>

<div class="right">

</div>

<
</div>



</div>
<div class="col"></div>
<div class="col"></div>
</div>

</section>