---
import collectionone from '../../public/assets/collectionone.png'
import profileimage from '../../public/assets/profile.png'
---

<section class="collection__container">

<div class="row">


<div class="col"></div>
<div class="col"></div>
<div class="col"></div>
</div>

</section>