---
import Hero from '../../public/assets/hero.png'
---


<section class="hero__container">


<div class="hero__row">


<div class="col">
<h1>
Discover, and collect Digital Art  NFTs 

</h1>

<p>

Digital marketplace for crypto collectibles and non-fungible tokens (NFTs). Buy, Sell, and discover exclusive digital assets.

</p>


<button>
Explore Now
</button>


<div class="count">

<h

</div>

</div>
<div class="col">

<img src={Hero} alt="hero" />
</div>

</div>


</section>