---
import Hero from '../../public/assets/hero.png'
---


<section class="hero__container">


<div class="hero__row">


<div class="col">
<h1>
Discover, and collect Digital Art  NFTs 

</h1>

<p>

Digital marketplace for crypto collectibles and non-fungible tokens (NFTs). Buy, Sell, and discover exclusive digital assets.

</p>


<button>
Explore Now
</button>


<div class="count">

<div class="">

<h2>
98K+
</h2>
<p>
Artwork
</p>
</div>


<div class="">

<h2>
12K+
</h2>
<p>
Auction
</p>
</div>


<div class="">

<h2>
15k
</h2>
<p>
Artist
</p>
</div>
</div>

</div>
<div class="col">

<img src={Hero} alt="hero" />
</div>

</div>




.about_


</section>